<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coupon Issue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="application/json" charset="UTF-8" />
    <style>
        .coupon-container {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container coupon-container">
    <input value="쿠폰 발급" type="button" onclick="dataSend()">
</div>

<script>
    function dataSend() {
        console.log("dataSend")
        const userId = $("#userId").val();

        $.ajax({
            url: "/v2/issue-async",
            data: {"userId": userId,
                "couponId": 1
            },
            type:"post",
        }).done(function (fragment) {
            $("#userId").replaceWith(fragment);
        });
    }
</script>
</body>
</html>
