<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coupon Issue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="application/json" charset="UTF-8" />
    <style>
        .coupon-container {
            text-align: center;
            margin-top: 50px;
        }
    </style>
    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container coupon-container">
    <input type="hidden" id="userId" th:value="${userId}" >
    <button onclick="dataSend()">쿠폰</button>
</div>
<script>
    function dataSend() {
        const userId = $("#userId").val();
        $.ajax({
            url: "/v2/issue-async",
            type: "POST",
            data: JSON.stringify({
                'userId': userId,
                'couponId': 1
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function(response) {
                console.log("Response:", response);
            },
            error: function(xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }
</script>
</body>
</html>
