<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coupon Issue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .coupon-container {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container coupon-container">
    <h2>Coupon Issue</h2>
    <div class="mt-4">
        <button class="btn btn-success" onclick="alert('쿠폰이 발급되었습니다!')">쿠폰 발급</button>
    </div>
</div>
</body>
</html>
